/* sub1_3.css */

/* header */
#content > header {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 1200px;
    height: 330px;
    background: url(../images/sub1_3_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* outline: 2px solid red; */
    position: relative;
}
#content h2 {
    color: #fff;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 145px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

/* lnb 영역 */
#lnb {
    width: 1200px;
    margin: 0 auto;
    /* background: #abc; */
}
#lnb::after {
    content: '';
    display: block;
    clear: both;
}
#lnb li a {
    float: left;
    width: 400px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    background: #dcd4bb;
}

/* breadcrumb */
#main > .location {
    /* background: #ccc; */
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 50px;
}

/* map */
#main .map {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 85px;
    /* background: #acc; */
}
#main .map h3 {
    font-size: 30px;
    margin-bottom: 50px;
}
#main .map iframe {
    margin-bottom: 50px;
}
#main .map p {
    font-weight: 700;
    padding-bottom: 15px;
    /* background: #ccc; */
}