/* sub1_3.css */

/* lnb */
#lnb li a {
    width: 400px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

/* map */
#main .map {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 85px;
    /* background: #acc; */
}
#main .map h3 {
    font-size: 30px;
    margin-bottom: 50px;
}
#main .map p:nth-of-type(1) {
    margin-top: 40px;
}
#main .map p {
    font-weight: 700;
    padding-bottom: 15px;
    /* background: #ccc; */
}